<div>
    <div mat-dialog-content>
        <div style="border: 3px black solid">
            <div class="receiptContainer" id="TOPRINT">
                <div class="receiptCntCon" style="margin-bottom: 16px">
                    <h1>FFA Booster Club</h1>
                    <h3>Silent Auction</h3>
                </div>
    
                <div class="receiptCntCon brdTp brdBtm mgBtm16">
                    {{currentDate | date : 'medium'}}
                </div>

                <div class="receiptCntCon lrgText">
                    {{checkout.bidder.name}} (#{{checkout.bidder.number}})
                </div>

                <!-- <div>
                    Number: {{checkout.bidder.number}}
                </div> -->
    
                <table class="receiptTable">
                    <tr>
                        <th class="receiptLCol lrgText">QTY</th>
                        <th class="receiptMCol lrgText">LOT</th>
                        <th class="receiptRCol lrgText textAlignR">AMT</th>
                    </tr>
                    <tr *ngFor="let lot of checkout.lots">
                        <td class="receiptLCol textAlignT">{{lot.items.length}}</td>
                        <td class="receiptMCol">
                            <div>Lot #{{lot.lotNumber}}</div>
                            <div class="weight300" *ngFor="let item of lot.items">-{{item}}</div>
                        </td>
                        <td class="receiptRCol textAlignR textAlignT">{{lot.finalBid | currency}}</td>
                    </tr>
                    <tr class="lrgText weight600 brdTp brdBtm">
                        <td>Total</td>
                        <td></td>
                        <td>{{checkout.total | currency}}</td>
                    </tr>
                </table>
                
                <div class="receiptCntCon">
                    <h5>Thank you for helping support the FFA!</h5>
                    <img style="width: 25%; height: auto" src="../../../assets/BoosterFacebookQR.PNG">
                </div>
            </div>
        </div>
    </div>
         
    <mat-divider></mat-divider>
       
    <div mat-dialog-actions>
        <button mat-button color="accent" (click)="onCancel()">Cancel</button>
        <button mat-raised-button color="primary" (click)="printReceipt()">Print</button>
    </div>
</div>