<div class="checkoutWraper">
    <mat-list class="checkoutInfoPanel" dense>
        <mat-list-item>
            <mat-icon mat-list-icon>attach_money</mat-icon>
            <div mat-line>Grand Total</div>
            <div mat-line>{{grandTotal | currency}}</div>
        </mat-list-item>

        <mat-divider></mat-divider>

        <mat-list-item>
            <mat-icon mat-list-icon>person</mat-icon>
            <div mat-line>Bidders with no lots</div>
            <div mat-line>
                <mat-chip-list aria-label="Item selection" [selectable]="false">
                    <mat-chip *ngFor="let bidder of biddersWithNoLots" disableRipple>{{bidder.name}} ({{bidder.number}})</mat-chip>
                </mat-chip-list>
            </div>
        </mat-list-item>
    </mat-list>

    <table mat-table [dataSource]="dataSource" class="checkoutTable">
        <!-- Buyer Number Column -->
        <ng-container matColumnDef="buyerNumber">
          <th mat-header-cell *matHeaderCellDef> Bidder Number </th>
          <td mat-cell *matCellDef="let checkout"> #{{checkout.bidder.number}} </td>
        </ng-container>
      
        <!-- Lots Column -->
        <ng-container matColumnDef="buyerName">
          <th mat-header-cell *matHeaderCellDef> Buyer Name </th>
          <td mat-cell *matCellDef="let checkout"> {{checkout.bidder.name}} </td>
        </ng-container>
      
        <!-- Total Items Column -->
        <ng-container matColumnDef="totalItems">
          <th mat-header-cell *matHeaderCellDef> Total Items </th>
          <td mat-cell *matCellDef="let checkout"> {{checkout.totalItems}} </td>
        </ng-container>
      
        <!-- Total Column -->
        <ng-container matColumnDef="total">
          <th mat-header-cell *matHeaderCellDef> Total </th>
          <td mat-cell *matCellDef="let checkout"> {{checkout.total | currency}} </td>
        </ng-container>
    
        <!-- Actions Column -->
        <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let checkout">
                <button mat-raised-button color="primary" (click)="checkoutBidder(checkout)" *ngIf="!checkout.bidder.hasPaid">Checkout</button>
                <button mat-stroked-button color="warn" (click)="undoCheckout(checkout)" *ngIf="checkout.bidder.hasPaid">Undo?</button>
            </td>
          </ng-container>
      
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
</div>
  