@use '../../node_modules/@angular/material/' as mat;
@import '../../node_modules/@angular/material//theming';
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$md-mdprimary: (
    50 : #e0eaf3,
    100 : #b3c9e0,
    200 : #80a6cb,
    300 : #4d82b6,
    400 : #2667a7,
    500 : #004c97,
    600 : #00458f,
    700 : #003c84,
    800 : #00337a,
    900 : #002469,
    A100 : #98b2ff,
    A200 : #658bff,
    A400 : #3265ff,
    A700 : #1952ff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);

$md-mdaccent: (
    50 : #fff9e0,
    100 : #fff0b3,
    200 : #ffe680,
    300 : #ffdc4d,
    400 : #ffd526,
    500 : #ffcd00,
    600 : #ffc800,
    700 : #ffc100,
    800 : #ffba00,
    900 : #ffae00,
    A100 : #ffffff,
    A200 : #fffaf2,
    A400 : #ffe8bf,
    A700 : #ffdfa6,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$md-mdaccent2: (
    50 : #e0e4e8,
    100 : #b3bcc6,
    200 : #8090a1,
    300 : #4d647b,
    400 : #26425e,
    500 : #002142,
    600 : #001d3c,
    700 : #001833,
    800 : #00142b,
    900 : #000b1d,
    A100 : #5b82ff,
    A200 : #285bff,
    A400 : #0039f4,
    A700 : #0033da,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #ffffff,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);


// The warn palette is optional (defaults to red).
$warn:    mat-palette($mat-red);

$primary: mat-palette($md-mdprimary);
$accent: mat-palette($md-mdaccent2);

// Create the theme object (a Sass map containing all of the palettes).
$theme: mat-light-theme($primary, $accent, $warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($theme);