<div class="preferencesContentWrapper">
    <mat-toolbar color="accent">
        App Preferences
    </mat-toolbar>

    <div class="preferencesContainer">
        <mat-form-field appearance="outline" class="preferencesFormField preferencesComponent">
            <mat-label>Selected Year</mat-label>
            <mat-select [(value)]="preference.selectedYear">
              <mat-option *ngFor="let year of years" [value]="year">
                {{year}}
              </mat-option>
            </mat-select>
        </mat-form-field>
    
        <button mat-flat-button color="primary" class="preferencesComponent" (click)="safePreferences()">Save</button>
    </div>
</div>