.fullWidth {
    width: 100% !important;
}

.dialogTitle {
    color: rgb(73, 73, 73);
    font-size: 24px;
}

.addBottomMargin {
    margin-bottom: 16px;
}

.addMarginTop {
    margin-top: 16px;
}

.flexSpacer {
    flex: 1 1 auto;
}

.dialogHeaderToolbar {
    padding: 0 !important;
    background-color: white;
    display: flex;
}