<div>
    <h3>{{checkout.bidder.name}} ({{checkout.bidder.number}})</h3>

    <mat-divider></mat-divider>
    
    <div mat-dialog-content>
        <div>
            <div class="checkoutSectionTitle">Lots Information</div>
            <mat-checkbox [(ngModel)]="expandAll" color="primary">Expand all</mat-checkbox>
            <mat-accordion multi>
                <mat-expansion-panel *ngFor="let lot of checkout.lots" [expanded]="expandAll">
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                        Lot #{{lot.lotNumber}}
                    </mat-panel-title>

                    <mat-panel-description>
                      Total: {{lot.finalBid | currency}}
                    </mat-panel-description>
                  </mat-expansion-panel-header>

                  <div *ngFor="let item of lot.items">
                    <span class="lotItemEntry">-{{item}}</span>
                </div>
                </mat-expansion-panel>
              </mat-accordion>
        </div>

        <mat-divider></mat-divider>

        <div style="display: flex; margin-top: 8px; margin-bottom: 8px">
            <span><strong>Grand Total</strong></span>
            <span class="flexSpacer dottedBottomBorder"></span>
            <span>{{checkout.total | currency}}</span>
        </div>
    </div>
         
    <mat-divider></mat-divider>
       
    <div mat-dialog-actions>
        <button mat-button color="accent" (click)="onNoClick()">Cancel</button>
        <button mat-raised-button color="primary" (click)="completeCheckout()" *ngIf="!checkout.viewOnly">{{checkout.total | currency}}</button>
        <div class="flexSpacer"></div>
        <button mat-raised-button color="accent" (click)="printReceiptDialog()">Print</button>
    </div>
</div>