<div>
    <h2>Checkout</h2>

    <mat-divider></mat-divider>
    
    <div mat-dialog-content>
        <div style="margin-bottom: 8px">
            <div class="checkoutSectionTitle">Bidder Information</div>
            <div>Name: {{checkout.bidder.name}}</div>
            <div>Number: {{checkout.bidder.number}}</div>
        </div>

        <div>
            <div class="checkoutSectionTitle">Lots Information</div>
            <div *ngFor="let lot of checkout.lots">
                <div style="font-weight: 500">Lot #{{lot.lotNumber}}</div>
                <div *ngFor="let item of lot.items">
                    <span class="lotItemEntry">-{{item}}</span>
                </div>
                <div style="display: flex; margin-bottom: 16px">
                    <span><strong>Total</strong></span>
                    <span class="flexSpacer dottedBottomBorder"></span>
                    <span>{{lot.finalBid | currency}}</span>
                </div>
            </div>
        </div>

        <mat-divider></mat-divider>

        <div style="display: flex; margin-top: 8px; margin-bottom: 8px">
            <span><strong>Grand Total</strong></span>
            <span class="flexSpacer dottedBottomBorder"></span>
            <span>{{checkout.total | currency}}</span>
        </div>
    </div>
         
    <mat-divider></mat-divider>
       
    <div mat-dialog-actions>
        <button mat-button color="accent" (click)="onNoClick()">Cancel</button>
        <button mat-raised-button color="primary" (click)="completeCheckout()">Complete</button>
    </div>
</div>