.fullWidth {
    width: 100% !important;
}

.dialogTitle {
    margin: 0 0 10px 0;
    color: rgb(73, 73, 73);
}

.addBottomMargin {
    height: 10px;
}

.formFieldNoBottomPadding .mat-form-field-wrapper {
    padding-bottom: 0 !important;
}

.addLotDividerTopMargin {
    margin-top: 10px;
}

.addMarginTop {
    margin-top: 16px;
}

.flexSpacer {
    flex: 1 1 auto;
}