<form (submit)="verifyNumber(data)" #addLot="ngForm" name="form">
    <div mat-dialog-content>
      <h2 class="dialogTitle" *ngIf="isAdd">Add Lot</h2>
      <h2 class="dialogTitle" *ngIf="isEdit">Edit Lot</h2>
      <h2 class="dialogTitle" *ngIf="isView">View Lot</h2>
      <mat-divider class="addBottomMargin"></mat-divider>

      <mat-tab-group>
        <mat-tab label="General">
          <!-- Lot Number -->
          <mat-form-field appearance="outline" class="fullWidth addMarginTop">
            <mat-label>Lot Number</mat-label>
            <input matInput #autoFocus type="number" placeholder="Lot Number" [(ngModel)]="data.lotNumber" name="lotNumberInput" required [disabled]="isView || isEdit">
          </mat-form-field>

          <!-- Items Count -->
          <mat-form-field appearance="outline" class="fullWidth">
            <mat-label>Item Count</mat-label>
            <input matInput type="number" min="1" step="1" placeholder="Item Count" [(ngModel)]="data.itemsCount" name="itemNumberInput" required (change)="itemCountAdjust()" [disabled]="isView">
          </mat-form-field>
        </mat-tab>

        <mat-tab label="Items">
          <!-- Items -->
          <mat-form-field appearance="outline" class="fullWidth" *ngFor="let item of data.items; let index = index; trackBy:trackByIndex;" [ngClass]="{'addMarginTop': index === 0}">
            <mat-label>Item</mat-label>
            <input matInput type="text" placeholder="Item" [(ngModel)]="data.items[index]" name=item{{index}} required [disabled]="isView">
          </mat-form-field>
        </mat-tab>

        <mat-tab label="Final Bid" *ngIf="isEdit || isView">
          <!-- Final Price -->
          <mat-form-field appearance="outline" class="fullWidth addMarginTop" *ngIf="isEdit || isView">
            <mat-label>Final Bid</mat-label>
            <input matInput type="number" min="0.01" step="0.01" placeholder="Final Bid" [(ngModel)]="data.finalBid" [ngModelOptions]="{standalone: true}" [disabled]="isView">
          </mat-form-field>

          <!-- Bidder Number -->
          <mat-form-field *ngIf="isEdit || isView" class="fullWidth">
            <mat-label>Bidder Number</mat-label>
            <mat-select [(value)]="data.buyerNumber" [disabled]="isView" [compareWith]="compareObjects">
              <mat-option>None</mat-option>
              <mat-option *ngFor="let num of bidderNumbers" value={{num}}>{{num}}</mat-option>
            </mat-select>
          </mat-form-field>
        </mat-tab>
      </mat-tab-group>
    </div>
    
    <mat-divider></mat-divider>
  
    <div mat-dialog-actions>
      <span *ngIf="isEdit || isAdd">
        <button mat-button color="accent" (mousedown)="onNoClick()">Cancel</button>
        <button mat-raised-button color="primary" type="submit" [disabled]="!addLot.form.valid">Save</button>
      </span>

      <span *ngIf="isView">
        <button mat-button color="accent" (mousedown)="onNoClick()">Close</button>
        <button mat-raised-button color="primary" (click)="changeToEdit()">Edit</button>
      </span>

      <div *ngIf="isView || isEdit" class="flexSpacer"></div>
      <button *ngIf="isView || isEdit" mat-raised-button color="warn" (mousedown)="onDeleteClick()">Delete</button>
    </div>
  </form>